
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:ital,wght@0,400;1,300&display=swap');

*{
  margin :0;
  padding: 0;
  box-sizing: border-box;
}
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Playfair Display', serif; */

/* Navbar css */
.navbar{
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px rgb(60, 40, 40);
  --webkit-box-shadow:0 8px 6px -6px gray;
  border-bottom: 0.0px solid gray !important;

}
.nav-link{
  font-weight: 300 !important;
}
.active{
  border-bottom: 1.1px solid black;
}
.navbar-brand{
  font-weight: 700;
  font-family: 'roboto',sans-serif;
  letter-spacing: 4px;
  word-spacing: 0.5px;
}

/* footer css */
.footer{
  color:white;
  padding: 20px;
  background-color: black;
}
.footer a{
  text-decoration: none;
  color: white;
  padding: 10px;

}
.footer a:hover{
  color: bisque;
  border-bottom: 1px bisque;
}
/*  page not found css */
 .pnotfound{
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }
 .pnotfound-title{
  font-size: 100px;
  font-weight: 700;
 }
 .pnotfound-heading{
  font-weight: normal;
 }
 .pnotfound-btn{
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin: 10px;

 }
 .contactus {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-link{
  text-decoration: none !important;
  color:black !important;

}



